*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background:linear-gradient(to left,#000000 ,#130F40);
    height: 840px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
}
.logo{
 margin-left: 15px;
 margin-top: 20px;
 display: flex;
 justify-content: space-around;
 color: white;
}
.logo h4{
    margin-top: 8px;
}
.logo p{
    color: tomato;
    margin-top: -10px;
    
}
.logo img{

    width: 50px;
    height: 50px;
    background-size: contain;
    padding: 1px ;

}
.menu{
    margin-top: 0;
}
.menu a{
    text-decoration: none;
    padding: 12px;
    color: white;

}
.menu a:hover{
    border-bottom: 1px solid tomato;

}

.contact a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 4px 5px;
    letter-spacing: 2px;
}

.contact a:hover{
   color: tomato;
   background-color: white;
}
.middle{
    display: flex;
    justify-content: space-between;
    align-items:flex-start ;
}
.text{
    margin-top: 60px ;
    color: white;
    margin-left: 20px;
}
.text h1{
    font-weight: 900;
}
.text span{
    color: tomato;
    font-weight: 700;
}
.text h5{
    font-weight: 100;
    margin-top: 15px;
    font-size: 25px;
}
.text p{

    margin-top: 150px;
}
.text button{

    background-color: tomato;
    border: 1px solid transparent;
    padding:  3px 5px;
    letter-spacing: 2px;
    margin-top: 12px;
    color: white;
}
.text button:hover{
   
    border: 1px solid white;
    letter-spacing:5px;
   
}


.image{
    text-align: right;
    margin-right: 20px ;
    margin-top: 60px;
}
.image img{
    background: linear-gradient(black,black);
    width: 800px;
    height: 500px;
    border-radius: 60px;
    filter: contrast(60%);
}

.testimonials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.box1{
    background-color: rgba(255, 255, 255, 0.5);
    width: 17%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    height: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.box1:hover{
    box-shadow: 2px 2px 2px gray, -2px 2px 2px aqua;
}


.box1 img{
    width: 50px;

}
.box1 h5{
    color: white;
}
.box1 p{
    color: white;
    font-size: 14px;
}

.box2{
    background-color: rgba(255, 255, 255, 0.5);
    width: 17%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    height: 160px;
    cursor: pointer;
}
.box2:hover{
    box-shadow: 2px 2px 2px gray, -2px 2px 2px aqua;
}
.box2 img{
    width: 50px;

}
.box2 h5{
    color: white;
}
.box2 p{
    color: white;
    font-size: 14px;
}

.box3{
    background-color: rgba(255, 255, 255, 0.5);
    width: 17%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    height: 160px;
}
.box3:hover{
    box-shadow: 2px 2px 2px gray, -2px 2px 2px aqua;
}
.box3 img{
    width: 50px;

}
.box3 h5{
    color: white;
}
.box3 p{
    color: white;
    font-size: 14px;
}
.down{
    background-color: orange;
}

.footer{
    background-color: gray;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy p{
    padding: 40px ;
    color: white;
}

.newsletter p{
    padding: 40px ;
    color: white;
}
.newsletter input{
    
   
    padding: 3px;
    border: 1px solid transparent ;
}
.newsletter [input=text]{
    color: white;
    padding: 20px;
}